body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #F2F2F2;
}
h1{
  margin: 6.25rem auto 0 auto;
  font-size: 5.25rem;
  color: #11698e;
  font-family: 'Sacramento', cursive;
}
h2 {
  padding-bottom: 0.75rem;
  font-size: 2rem;
  font-weight: 700;
  color: #11698e;
  margin-top: 0;
  font-family: 'Yusei Magic', sans-serif;
}
h4 {
  color: #19456b;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border-style: dotted none none none;
  background-color: #F2F2F2;
  border-width: 0.4rem;
  border-color: #3d3d3d;
  width: 10%;
  margin: 6.25rem auto 6.25rem auto;
}

/* Navbar */

.navbar {
  font-weight: 500;
  position: absolute;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  z-index: 9999;
}

.navbar-brand {
  font-weight: 800;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.navbar .navbar-nav .nav-link {
  font-size: 1rem;
  padding-left: 1.5rem;
}

@media (max-width: 805px) {
  .navbar-nav {
    background-color: #eaf6f6;
  }
}

/* Home Page */

.top-container {
  background-color: #e7d9ea;
  position: relative;
  padding-top: 3.2rem;
  background-size: cover;
}

.top-cloud {
  position: absolute;
  right: 15.6rem;
  top: 3.2rem;
}
.bottom-cloud {
  position: absolute;
  left: 15.6rem;
  bottom: 18.8rem;
}

.btn {
  font-size: 400;
  padding: 0.75rem 1.5rem 0.75rem 1.5rem;
  border-radius: 1.6rem;
  border: 2px solid;
}

@media (max-width: 805px) {
  .bottom-cloud, .top-cloud {
    display: none;
  }
  .mountain {
    height: 100%;
    width: 100%;
  }
}

/* About me */

.introduction {
  line-height: 2;
  padding: 0 5rem 0 5rem;
}

.introduction p {
  padding: 0.75rem 0 0.75rem 0;
}

.propic {
  border-radius: 50%;
  margin-top: 2.5%;
  width: 10%;
  height: 10%;
  background-color: #16c79a;
}


/* Skills */

#skills {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.skill-header {
  margin-bottom: 1rem;
}

.skills-wrapper img {
  padding: 1.25rem;
}

.icon {
  width: 11.875rem;
  height: 11.25rem;
}

/* Certificates */

.main-certificate{
    display: flex;
    width: 100%;
    padding: 1.25rem;
   }

.cert, .cert2 {
    flex: 1;
    font-family: 'Yusei Magic', sans-serif;
}

.imagec {
    height: 12.5rem;
    width: 18.75rem;
    padding-bottom: 0.7rem;
}

.cert {
  padding: 0 0.75rem 0 0.75rem 0;
}

.cert2 {
  display: none;
}

#certificate a {
  color: #19456b;
  text-decoration: none;
}

.cbtn {
  padding: 0.75rem 0 0.75rem 0;
}

@media (max-width: 805px) {
  .main-certificate{
    display: block;
    text-align: center;
    margin-left: 0;
    padding-bottom: 0;
  }
}

/* Contact Me */

.bottom-container {
  margin: 3.2rem auto 0 auto;
  background-color: #e7d9ea;
  padding: 1.6rem 2.5% 0.7rem 2.5%;
  line-height: 3;
  font-size: 1rem;
}

.footer-link {
  text-decoration: none;
  color: #3d3d3d;
  padding: 2% 5% 2% 5%;
  text-align: center;
}
